h1 
  background-image: url('/images/brain.jpg')
  background-repeat: no-repeat
  height: 325px
  font-family: Arial, sans-serif
  font-size: 2.5em
  font-weight: normal
  padding-top: 190px
  text-align: center
  width: 334px
  color: #fff
  text-shadow: #1c3853 1px 1px 8px