!!! 5
html
  head
    title The Great Brain
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (pageType == 'brain')
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
      script(type='text/javascript', src='/javascripts/nodes.js')
      script(type='text/javascript', src='/javascripts/neuronator.js')
      script(type='text/javascript', src='/javascripts/main.js')
  body!= body