body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #111;
}  

code {
  white-space: pre;
  overflow: auto;
}

.wrapper {
  font-family: Arial, sans-serif; 
  width: 860px;
  margin: 0 auto;
  height: 100%;
  line-height: 1.4em;
  background-color: #eee;
}

.wrapper h1, .wrapper h2 {
  font-size: 1.6em;
  line-height: 1.6em;
  padding: 5px;
  background-image: url('http://love-hate.heroku.com/images/snow.gif');
  height: 40px;
  font-weight: normal;
  color: #fff;
  margin-top: 0px;
  text-shadow: #000 1px 1px 3px;
  font-family: "Monaco", "Lucida Console"; 
}

.wrapper h1 {
  text-align: center;
}

.wrapper h2 {
  background-image: none;
  margin-top: 50px;
  color: #777;
  margin-bottom: 0px;
  font-size: 1.2em;
  text-shadow: none;
  padding-left: 20px;
}

.wrapper p, .wrapper li {
  font-size: 0.9em;
  color: #333;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper section {
  background-color: #bbb;
  padding-bottom: 10px;
}

.wrapper section.howto {
  background-color: #30d0de;
}

.wrapper section h2 {
  color: #fff;
}

.wrapper section.howto p, .wrapper section.howto li {
  color: #111;
}

.wrapper p.watch {
  font-size: 2em;
  padding-bottom: 0px;
  text-shadow: #888 1px 1px 3px;
  text-transform: uppercase;
}

.wrapper p.watch a {
  background-color: #30d0de;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper a {
  text-decoration: none;
  background-image: none;
  background-color: #ccc;
  color: #111;
  padding: 2px;
  font-size: 1.1em;
}

.wrapper section a {
  background-color: #fff;
}

.wrapper a:hover {
  background-image: url('http://love-hate.heroku.com/images/snow.gif');
  text-shadow: #000 1px 1px 3px;
  color: #fff;
}

.wrapper ul, .wrapper ol {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-bottom: 50px;
}


.wrapper ul li {
  padding: 5px;
  list-style-type: none;
}

.wrapper ol {
  margin-left: 20px;
  padding-bottom: 0px;
}

.wrapper ol li {
  padding: 5px;
  list-style-type: decimal;
}

.result, .debug {
  font-family: Arial, sans-serif;
  position: relative;
  margin: 0 auto;
  padding: 0px;
  width: 900px;
  clear: both;
  display: block;
}  
.result li {
  margin: 0px;
  padding: 0px;
  background-image: url('http://love-hate.heroku.com/images/snow.gif');
  list-style-type: none;
  float: left;
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
}    
.result li a {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 144px;
  overflow: hidden;
  text-decoration: none;
  left: 0px;
  background-color: #000;
  opacity: 0.8;
  display: none;
  color: #eee;
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 3;
  padding: 3px;
}       
.result li img, .result li p {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}     
.result li p {
  font-size: 1em;
  background-color: #000;
  display: inline;
  padding: 3px;
  line-height: 1.2em;
  color: #fff;
  text-transform: uppercase;
}     
iframe {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 0px;
}        
.debug {
  display: none;
  background-color: #000;
  color: #fff;
  border-top: 5px solid #fff;
}    
.debug h2 {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.debug p {
  font-size: 0.9em;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}